// ------------------- start category section style
#category {
    .category-splite-container {
        .owl-carousel-container {
            .owl-carousel-inner {
                .splide-slide-card {
                    .category-card-box {
                        @include flex(flex,center,center);
                        flex-direction: column;
                        img {
                            padding: 10px;
                            background: #d8f1fd;
                            border-radius: 20px;
                        }
                        p {
                            margin-top: 10px;
                            font: {
                                size: $default-font-size - 3px;
                            }
                            color: $category-text-color;
                        }
                    }
                }
            }
        }
    }
}