// ------------------------ Start login page design
#loginPage {
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 40px;
    overflow: hidden;
    border-radius: 20px;
    .login-page-wrapper {
        padding-top: 30px;
        .login-form-container {
            @include flex(flex,flex-start,space-between);
            flex-direction: column;
            .form-login-inner {
                width: 100%;
                .loginContainer, .signContainer {
                    width: 100%;
                    @include flex(flex,flex-start,space-between);
                    flex-direction: column;
                    input#emailContent, input#passwordContent, input#returnPasswordContent{
                        width: 100%;
                        margin-bottom: 15px;
                        @include margin-padding(10px,8px,10px,8px,false);
                        border-radius: 8px;
                        border: none;
                        outline: none;
                        background-color: #f3f3f3;
                        font: {
                            size: $default-font-size - 2px;
                        }
                        color: #343434;
                        &::placeholder {
                            font: {
                                size: $default-font-size - 3px;
                            }
                            color: #5d5d5d;
                        }
                    }
                }
                p.forget-pass-link {
                    font: {
                        size: $default-font-size - 3px;
                    }
                    color: #313131;
                    a {
                        color: $them-color;
                    }
                }
                div {
                    label {
                        font: {
                            size: $default-font-size - 1px;
                        }
                        color: #ff8400;
                        margin-right: 6px;
                    }
                }
                button#submitLogin {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    color: #fff;
                    background-color: $them-color;
                }
                .login-with-google {
                    width: 100%;
                    display: block;
                    color: #ff5100;
                    text-align: center;
                    margin-top: 10px;
                    font: {
                        size: $default-font-size - 1px;
                    }
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            p.signUp-btn-container, p.login-btn-container {
                margin-top: 10px;
                padding-top: 13px;
                border-top: 1px solid #e6e6e6;
                width: 100%;
                text-align: center;
                font: {
                    size: $default-font-size - 2px;
                }
                color: #3a3a3a;
                button {
                    border: none;
                    outline: none;
                    box-shadow: none;
                    background: transparent;
                    color: $them-color;
                }
            }
            p.login-btn-container {
                display: none;
                button {
                    margin-right: 5px;
                }
            }
        }
        .pass-comment-signUp-page {
            p {
                font: {
                    size: $default-font-size - 1px;
                    family:IranYekan;
                }
                color: #ff4d00;
            }
        }
    }
    .login-page-image {
        img {
            border-radius: 20px;
        }
    }
}