// ----------------- Start profile box section style
#StoreDashboardAcount {
    .profile-btn-responsive-acount-container {
        display: none;
        margin-bottom: 20px;
        #profileBtnAcount {
          border: none;
          outline: none;
          box-shadow: none;
          background-color: gold;
          box-shadow: 0 0 8px rgb(255, 213, 0);
          padding: 7px;
          border-radius: 8px;
          @include flex(flex,center,center);
          img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin-left: 4px;
          }
          p {
            margin-bottom: 0;
            font: {
              size: $default-font-size - 2px;
            }
            color: #262626;
          }
        }
    }
    .profile-acount-box-container {
        .profile-acount-box-inner {
            .profile-acount-card {
                .nav-pills {
                  width: 300px;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 20px;
                    .store-name-acount {
                      margin-bottom: 20px;
                      border: 1px solid #00000017;
                      padding: 10px;
                      border-radius: 15px;
                      .store-acount-profile-content {
                        h5 {
                          font: {
                            size: $default-font-size - 1px;
                          }
                          text-align: center;
                        }
                        ul.star-rate-comment {
                          @include flex(flex,center,center);
                          padding-left: 0;
                          margin-bottom: 0;
                          li {
                            margin: 0 4px;
                            filter: opacity(0.7);
                          }
                        }
                      }
                    }
                    .nav-link {
                        border-radius:0; 
                        @include transition-default(all,0.4s);
                        &:hover {
                            color: $them-color;
                            border-right: 2px solid #b8b8b8;
                        }
                        font: {
                            size: $default-font-size;
                            family:IRANYekan;
                        }
                        color: $profile-sidebar-link-color;
                        text-align: right;
                        margin-bottom: 20px;
                        img {
                            margin-left: 10px;
                            width: 25px;
                            height: 25px;
                        }
                    }
                    button.active {
                        background-color: transparent;
                    }
                }
                .tab-content {
                  width: 100%;
                    background: #ffffff;
                    margin-right: 20px;
                    padding: 20px;
                    border-radius: 20px;
                    overflow: hidden;
                    #v-pills-profile-acount {
                        .pills-profile-acount-header {
                            h5 {
                                margin-bottom: 20px;
                                color: #2b2b2b;
                                font: {
                                    size: $default-font-size - 1px;
                                }
                                img {
                                    width: 25px;
                                    height: 25px;
                                    margin-left: 10px;
                                }
                            }
                        }
                        .pills-profile-acount-content {
                            .edit-profile-form {
                                form {
                                    background: #f5f5f5;
                                    padding: 20px;
                                    border-radius: 14px;
                                    .upload-logo-image {
                                        border: 1px solid #0000001c;
                                        padding: 20px;
                                        border-radius: 20px;
                                        img {
                                            width: 100px;
                                            height: 100px;
                                            border-radius: 10px;
                                            overflow: hidden;
                                            display: block;
                                        }
                                        input {
                                            width: 30%;
                                            padding: 10px;
                                        }
                                        ul {
                                            margin-top: 10px;
                                            li {
                                                p {
                                                    font: {
                                                        size: $default-font-size - 2px;
                                                    }
                                                    color: #404660;
                                                }
                                            }
                                        }
                                    }
                                    .location-store-upload {
                                        margin-bottom: 20px;
                                        border: 1px solid #0000001c;
                                        padding: 20px;
                                        border-radius: 20px;
                                        iframe {
                                            width: 100%;
                                            height: 300px;
                                        }
                                        textarea {
                                            font: {
                                                size: $default-font-size - 1px;
                                                family: IRANYekan;
                                            }
                                        }
                                        button {
                                            font: {
                                                size: $default-font-size - 2px;
                                            }
                                            border: none;
                                            outline: none;
                                            border-radius: 10px;
                                            background-color: $them-color;
                                            padding: 8px;
                                            color: #fff;
                                        }
                                    }
                                    .store-payment-method-container {
                                        margin-bottom: 20px;
                                        padding: 20px;
                                        border: 1px solid #0000001e;
                                        border-radius: 20px;
                                        background-color: rgba(222, 249, 255, 0.055);
                                        h5 {
                                            font: {
                                                size: $default-font-size + 2px;
                                                family: IRANYekan;
                                            }
                                            color: rgb(0, 120, 0);
                                            margin-bottom: 20px;
                                        }
                                        .form-check {
                                            margin-bottom: 10px;
                                            label {
                                                margin: 0;
                                            }
                                        }
                                        textarea {
                                            font: {
                                                size: $default-font-size - 1px;
                                                family: IRANYekan;
                                            }
                                            color: #444444;
                                        }
                                    }
                                    button{
                                        float: left;
                                        border: none;
                                        outline: none;
                                        padding: 15px;
                                        border-radius: 15px;
                                        background-color: red;
                                        color: #fff;
                                        transform: translateY(-4px);
                                        font: {
                                            size: $default-font-size - 2px;
                                        }
                                    }
                                    label {
                                      font: {
                                        size: $default-font-size;
                                        family:IRANYekan;
                                        weight:900;
                                      }
                                      margin: 10px 0;
                                      color: #262626;
                                    }
                                    input {
                                      border: none;
                                      outline: none;
                                      box-shadow: none;
                                      font: {
                                        size: $default-font-size - 1px;
                                        family:IRANYekan;
                                      }
                                      color: #404660;
                                      padding: 10px;
                                      border-radius: 5px;
                                      @include transition-default(all,0.4s);
                                      &:focus {
                                        border: 1px solid #0000001e;
                                      }
                                    }
                                }
                            }
                        }
                    }
                    #v-pills-click-chart {
                        .container {
                            .click-chart-header {
                                margin-bottom: 20px;
                                h5 {
                                    font: {
                                        size: $default-font-size - 1px;
                                    }
                                    color: #203591;
                                    img {
                                        width: 30px;
                                        height: 30px;
                                        margin-left: 10px;
                                    }
                                }
                            }
                            .form-final-click-container {
                                form.form-click-wrapepr {
                                    background-color: #e9f3ff;
                                    padding: 20px;
                                    border-radius: 20px;
                                    label {
                                        display: block;
                                        font: {
                                            family:IRANYekan;
                                        }
                                        margin-bottom: 10px;
                                    }
                                    input {
                                        padding: 6px;
                                        background-color: #fff;
                                        font: {
                                            size: $default-font-size - 2px;
                                            family:IRANYekan;
                                        }
                                        color: #444444;
                                        width: 100%;
                                        border: none;
                                        outline: none;
                                        border-radius: 6px;
                                    }
                                    button {
                                        width: 100%;
                                        transform: translateY(30px);
                                        border: none;
                                        outline: none;
                                        border-radius: 10px;
                                        background-color: $them-color;
                                        font: {
                                            size: $default-font-size - 1px;
                                        }
                                        padding: 10px;
                                        color: #fff;
                                        @include transition-default(all,0.4s);
                                        &:hover {
                                            transform: translateY(30px) scale(0.9);
                                        }
                                    }
                                }
                                table {
                                    border: 1px solid #0000001a;
                                    tbody {
                                        tr {
                                            td {
                                                border-left: 1px solid #00000012;
                                                font: {
                                                    size: $default-font-size - 1px;
                                                }
                                                span {
                                                    font: {
                                                        size: $default-font-size - 1px;
                                                        family:IRANYekan;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .chart-details-table {
                                    ul#ContentPlaceHolder1_tabs {
                                        width: 100%;
                                        padding-left: 0;
                                        margin-bottom: 20px;
                                        @include flex(flex,center,center);
                                        li {
                                            width: 49%;
                                            border: 1px solid #0000001b;
                                            margin: 0 0.5%;
                                            border-radius: 10px;
                                            background-color: #e9e9e9;
                                            overflow: hidden;
                                            font: {
                                                size: $default-font-size - 2px;
                                            }
                                            button {
                                                width: 100%;
                                                border: none;
                                                color: #666666;
                                            }
                                            button.active {
                                                background-color: #203591;
                                                color: #fff;
                                            }
                                        }
                                    }
                                    .tab-content {
                                        #tab-DivTajmieiDaily {
                                            .table-responsive-sm {
                                                table {
                                                    thead {
                                                        tr {
                                                            th {
                                                                font: {
                                                                    size: $default-font-size - 3px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    tbody {
                                                        tr {
                                                            td {
                                                                font: {
                                                                    size: $default-font-size - 1px;
                                                                }
                                                                a {
                                                                    color: #203591;
                                                                    font-weight: 900;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        #tab-DivTafkiki {
                                            a#ContentPlaceHolder1_RptTafkiki_hlinkitem_0 {
                                                font: {
                                                    size: $default-font-size - 1px;
                                                    family:IRANYekan;
                                                }
                                                color: $them-color;
                                            }
                                        }
                                        input {
                                            font: {
                                                size: $default-font-size - 2px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #v-pills-productStore-list {
                        .pills-productStore-list-header {
                            margin-bottom: 20px;
                            h5 {
                                font: {
                                    size: $default-font-size - 1px;
                                }
                                color: #203591;
                                img {
                                    width: 30px;
                                    height: 30px;
                                    margin-left: 10px;
                                }
                            }
                        }
                        .pills-productStore-list-content {
                            table {
                                thead {
                                    tr {
                                        th {
                                            font: {
                                                size: $default-font-size;
                                                family:IRANYekan;
                                                weight:900;
                                            }
                                            text-align: center;
                                            color: #2544ce;
                                        }
                                    }
                                }
                                tbody {
                                    tr {
                                        td {
                                            a {
                                                font: {
                                                    size: $default-font-size - 3px;
                                                    family:IRANYekan;
                                                }
                                            }
                                            p {
                                                font: {
                                                    size: $default-font-size - 2px;
                                                }
                                                line-height: 30px;
                                                margin-bottom: 0;
                                            }
                                            span {
                                                font: {
                                                    size: $default-font-size - 2px;
                                                }
                                                img {
                                                    width: 30px;
                                                    height: 30px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .group-page-container {
                                @include flex(flex,center,space-between);
                                button.group-btn-submit {
                                    border: none;
                                    outline: none;
                                    box-shadow: none;
                                    padding: 7px;
                                    border-radius: 10px;
                                    background-color: #6101b4;
                                    color: #fff;
                                    font: {
                                        size: $default-font-size - 2px;
                                    }
                                }
                                button.group-btn-submit-receive {
                                    border: none;
                                    outline: none;
                                    box-shadow: none;
                                    padding: 7px;
                                    border-radius: 10px;
                                    background-color: #106c00;
                                    color: #fff;
                                    font: {
                                        size: $default-font-size - 3px;
                                    }
                                }
                                .btn-toolbar {
                                    .btn-group {
                                        button {
                                            background-color: #f1f1f1;
                                            margin: 0 2px;
                                            border-radius: 7px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #StoreDashboardAcount {
        margin-top: 80px!important;
        margin-right: 0!important;
        .profile-btn-responsive-acount-container {
            display: block;
        }
        .profile-acount-box-container {
            .profile-acount-box-inner {
                .profile-acount-card {
                    .profile-acount-card-wrapper {
                        flex-direction: column;
                        .nav-pills {
                            position: absolute;
                            top: 130px;
                            display: none;
                            right: 0;
                            overflow-y: scroll;
                            height: 500px;
                            .store-name-acount {
                                width: 100%;
                                @include flex(flex,center,center);
                                flex-direction: column;
                            }
                        }
                        .nav-pills-active {
                            display: block!important;
                            z-index: 1000;
                            box-shadow: 0 0 8px rgba(46, 46, 46, 0.209);
                        }
                        .tab-content {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .pills-productStore-list-content {
        overflow-x: scroll!important;
    }
    .group-page-container {
        flex-direction: column;
        .btn-toolbar {
            margin-top: 30px;
        }
    }
}